html,
body {
  margin: 0;
  padding: 0;
}

.absolute-bg {
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-image: url("./images/candle-bg.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fff;
}

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}

.fog-img-first {
  background-image: url("./images/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog-img-second {
  background-image: url("./images/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

.App {
  text-align: center;
  color: white;
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgb(53, 53, 53);
}

.btn {
  width: 150px;
  height: 50px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border-radius: 5px;
  margin: 2px;
}

.btn:hover {
  color: gold;
}

.btn2 {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 2px;
  background: red;
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  border: 1px solid black;
}

.btn3 {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  background: blue;
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  border: 1px solid black;
}

.info {
  background-color: rgb(40, 38, 38);
  opacity: 0.97;
  min-height: calc(70vh - 70px);
  margin-bottom: 100px;
}

.btn4 {
  width: 150px;
  height: 50px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #28cd3b;
  color: #fff;
  border-radius: 5px;
  margin: 2px;
}

.btn4:hover {
  color: gold;
}

.list {
  display: flex;
}

.column {
  flex: 50%;
}
